---
import Layout from '../layouts/Layout.astro';
import Icon from "../components/Icon.astro"
---

<Layout title="Abstract">
	<h1 class="font-gtab text-med-blue text-2xl">Prueba bold</h1>
	<span class="font-gtam text-light-blue text-lg">Prueba normal</span>
	<Icon />
</Layout>
