---
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets"
import Article from "../components/Article.astro"
import {type IArticle} from "../interfaces/interfaces.ts"
import Icon from "../../public/Icon.svg"
import RightArrow from "../../public/right-arrow.svg"
import i1 from "../../public/images/1.png"
import i2 from "../../public/images/2.png"
import i3 from "../../public/images/3.png"
import i4 from "../../public/images/4.png"
import i5 from "../../public/images/5.png"
import i6 from "../../public/images/6.png"


const articles: IArticle[] = [
{
	image: i1,
	title: "Using Abstract",
	subtitle: "Abstract lets you manage, version, and document your designs in one place."
},{
	image: i2,
	title: "Manage your account",
	subtitle: "Configure your account settings, such as your email, profile details, and password."
},{
	image: i3,
	title: "Manage organizations, teams, and projects",
	subtitle: "Use Abstract organizations, teams, and projects to organize your people and your work."
},{
	image: i4,
	title: "Manage billing",
	subtitle: "Change subscriptions and payment details."
},{
	image: i5,
	title: "Authenticate to Abstract",
	subtitle: "Set up and configure SSO, SCIM, and Just-in-Time provisioning."
},{
	image: i6,
	title: "Abstract support",
	subtitle: "Get in touch with a human."
}]
---

<Layout title="Abstract">
	<header class="w-screen h-auto py-5 px-8 bg-black">
		<nav class="max-w-6xl h-full mx-auto flex items-center justify-between">
			<div class="flex items-end justify-center gap-x-2 divide-x-2 divide-white">
				<a href="" class="text-white">
					<Image src={Icon} alt="Icon" width={128} height={128} format='webp'/>
				</a>
				<a href="" class="px-2 text-white text-xl font-gtam font-normal">Help Center</a>
			</div>
			<div class="flex items-end justify-end gap-x-2">
				<a href="" class="py-2 px-4 text-white bg-slate-900 border border-white text-2xl font-gtam font-extralight rounded-md">Submit a request</a>
				<a href="" class="py-2 px-6 text-white bg-med-blue text-2xl font-gtam font-extralight rounded-md transition-colors hover:bg-white hover:text-black">Sign in</a>
			</div>
		</nav>
	</header>
	<div role="search" class="w-full mx-auto p-28 bg-light-blue flex flex-col items-center justify-between gap-y-7">
		<h1 class="text-7xl font-light font-gtam text-black text-center tracking-tight">How can we help?</h1>
		<form action="" class="max-w-7xl mx-auto h-auto flex items-center justify-center gap-0.5">
			<input type="search" name="" id="" class="w-[640px] transition-colors outline-none h-8 p-8 shadow-lg rounded-md text-xl font-light font-gtam border border-black bg-white placeholder:text-black focus:border-med-blue hover:border-med-blue placeholder:transition-colors hover:placeholder:text-med-blue" placeholder="Search"/>
			<button class="w-8 transition-colors outline-none h-8 p-8 shadow-lg rounded-md font-light font-gtam border border-black bg-white placeholder:text-black hover:border-med-blue grid place-content-center group">
				<svg width="36px" height="36px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-black transition-colors group-hover:fill-med-blue">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"/>
					</svg>
			</button>
		</form>
	</div>
	<main class="p-32 grid grid-cols-2 gap-24">
		{
			articles.map((article)=>(
				<Article article={article}/>
			))
		}
	</main>
	<footer class="py-14 px-32 w-full h-auto bg-black flex items-center justify-between">
		<div class="w-full h-auto flex items-start justify-start gap-x-6">
			<ul class="flex flex-col items-start justify-start gap-y-1">
				<h4 class="text-2xl font-gtab font-bold text-left text-white">Abstract</h4>
				<li class="mt-2"><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Start Trial</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Pricing</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Download</a></li>
			</ul>
			<ul class="flex flex-col items-start justify-start gap-y-1">
				<h4 class="text-2xl font-gtab font-bold text-left text-white">Resources</h4>
				<li class="mt-2"><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Blog</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Help Center</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Release Notes</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Status</a></li>
			</ul>
			<ul class="flex flex-col items-start justify-start gap-y-1">
				<h4 class="text-2xl font-gtab font-bold text-left text-white">Community</h4>
				<li class="mt-2"><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Twitter</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">LinkedIn</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Facebook</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Dribbble</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Podcast</a></li>
			</ul>
			<ul class="flex flex-col items-start justify-start gap-y-1">
				<h4 class="text-2xl font-gtab font-bold text-left text-white">Company</h4>
				<li class="mt-2"><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">About Us</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Careers</a></li>
				<li><a href="" class="text-base font-gtam font-medium text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Legal</a></li>
				<h6 class="mt-7 text-xl font-gtab font-bold text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">Contact Us</h6>
				<span class="text-sm font-gtam font-light text-left text-white hover:underline hover:decoration-white hover:underline-offset-2">info@abstract.com</span>
			</ul>
		</div>
		<div class="w-full h-full flex flex-col items-end justify-end gap-y-3">
			<Image src={Icon} alt="Icon" width={128} height={128} format='webp'/>
			<span class="text-2xl font-gtab font-bold text-left text-white">Copyright 2023</span>
			<span class="text-base font-gtam font-medium text-left text-white">Abstract Studio Design, Inc.</span>
			<span class="text-base font-gtam font-medium text-left text-white">All rights reserved</span>
		</div>
	</footer>
	<footer class="p-2 w-full h-auto bg-black flex items-center justify-center">
		<span class="text-sm font-gtam font-medium text-left text-white">Developed by <a href="https://github.com/dano2906" class="text-med-blue">Dano</a></span>
	</footer>
</Layout>
